<h2><%= @doctor.name %></h2>

<h3><%= @doctor.department %></h3>

<h4>Appointments:</h4>
<table>
  <tr>
    <th style="width: 60px">Date</th>
    <th style="width: 60px">Time</th>
    <th style="width: 60px">Patient</th>
  </tr>
  <% @doctor.appointments.each do |app| %>
    <td><%= app.appointment_datetime.strftime("%B %d, %Y") %></td>
    <td><%= app.appointment_datetime.strftime("%H:%M") %></td>
    <td><%= app.patient.name %></td>
  <% end %>
</table>
