<h2><%= @doctor.name %></h2>

<h3><%= @doctor.department %></h3>

<h4>Appointments:</h4>
<table>
  <tr>
    <th style="width: 180px">Date and Time</th>
    <th style="width: 180px">Patient</th>
  </tr>
  <% @doctor.appointments.each do |app| %>
    <tr>
      <td><%= app.appointment_datetime.strftime("%B %d, %Y") %> at <%=  app.appointment_datetime.strftime("%H:%M") %></td>
      <td><%= link_to app.patient.name, patient_path(app.patient) %></td>
    </tr>
  <% end %>
</table>
